<ul class="navbar-nav ml-lg-auto menu-left bg-secondary">
    <li class="nav-item mt-3">
        Accounts :
        <div
            *ngFor="let item of accountList"
            class="custom-control custom-radio mb-3"
        >
            <input
                name="custom-radio-2"
                class="custom-control-input"
                id="customRadio5"
                type="radio"
                (click)="setBusinessAccount(item.id)"
            />
            <label class="custom-control-label" for="customRadio5">{{
                item.name
            }}</label>
        </div>
    </li>
    <li class="nav-item mt-3">
        <h6 class="text-default">
            Business list
        </h6>
    </li>
</ul>
