<ul class="navbar-nav ml-lg-auto menu-left">
    <li class="nav-item mt-3">
        Select your account :
        <button
            [ngClass]="
                active == item.id
                    ? 'btn btn-default mt-3'
                    : 'btn mt-3 btn-outline-default'
            "
            *ngFor="let item of accountList"
            (click)="setBusinessAccount(item.id)"
        >
            <div>
                <label class="">{{ item.name }}</label>
            </div>
        </button>
    </li>
</ul>
