<div class="container mt-4">
    <div class="row justify-content-center text-center mb-lg">
        <a
            class="nav-link"
            routerLink="/dashboard/feed"
            routerLinkActive="active"
            >Come back to your feed</a
        >
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <input
                                #spiedaccount
                                type="name"
                                class="form-control form-control-alternative"
                                id="spiedaccount"
                                placeholder="It must be a business account !"
                            />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button
                                placeholder="Regular"
                                class="form-control form-control-alternative"
                                (click)="addSpiedAccount(spiedaccount.value)"
                            >
                                Ajouter
                            </button>
                        </div>
                    </div>
                    <div
                        [hidden]="!exist"
                        class="alert alert-danger"
                        role="alert"
                    >
                        <strong>Already in your list !</strong
                        ><i
                            (click)="hideAlert()"
                            class="ni ni-fat-remove align-right"
                        ></i>
                    </div>
                </div>
            </div>
            <div>
                <ul class="list-group list-group-flush">
                    <li
                        *ngFor="let item of spiedAccountList"
                        class="list-group-item"
                    >
                        {{ item.accountName }}
                    </li>
                </ul>
            </div>
        </div>
        <hr />
    </div>
</div>
